/* Start Variables */
:root {
  --section-padding: 60px;

  --main-color: #0f866c;

  --color-black: #000;
  --color-brand: #da3940;
  --color-neon: #d4e300;
  --color-blue: #365996;
  --color-berry: #7e0f53;
  --color-peach: #f4a377;
  --color-sky-20: #b6d1d0;
  --color-midnight: #001d2f;
  --color-white: #fff;
  --color-grey-10: #334a59;
  --color-grey-20: #667782;
  --color-grey-30: #a2acb3;
  --color-grey-40: #ccd2d5;
  --color-grey-50: #f7f8f9;
  --color-mint-10: #0c6753;
  --color-mint-20: #0f866c;
  --color-sand-20: #f0eacf;
  --color-sand-30: #f9f8f2;
  --color-brand-50: #fdf3f4;
  --color-sky: #dae8e7;
  --color-sky-30: #dae8e7;
  --color-error-10: #7e0f53;
  --color-error-20: #a4115e;
  --color-error-30: #cf1369;
  --color-error-40: #ed8db7;
  --color-error-50: #fae4ed;
  --color-success-10: #004d40;
  --color-success-20: #00695c;
  --color-success-30: #009688;
  --color-success-40: #4db6ac;
  --color-success-50: #c3ece8;
  --color-warning-10: #964c1c;
  --color-warning-20: #b5541c;
  --color-warning-30: #fd9b3f;
  --color-warning-40: #feb865;
  --color-warning-50: #feedcb;
  --color-info-10: #3156a0;
  --color-info-20: #4465c1;
  --color-info-30: #4d83e8;
  --color-info-40: #74b2fb;
  --color-info-50: #e5f1fe;
  --color-order-green: #4ca952;
}
/* end Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Playfair Display", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
a {
  color: #009688;
}
button {
  cursor: pointer;
}
.header {
  background-color: var(--color-sand-20);
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: 800;
  padding: 0px;
}
.header .logo {
  width: 150px;
  max-width: 100%;
}

.header .links .header-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  min-width: fit-content;
}

.main-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-links li {
  min-width: fit-content;
}

.header .links .header-links li a {
  text-decoration: none;
  display: block;
  padding: 15px;
  transition: 0.3s;
  color: #333;
}
.header .links ul li a:hover {
  color: var(--main-color);
}
.fa-globe,
.fa-bars {
  transform: scale(1.2);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin: 0;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-container {
  position: relative;
}
.arrow {
  position: absolute;
}

.header .links .getstarted-btn {
  background-color: transparent;
  color: var(--main-color);

  padding-top: 10px;
  padding-bottom: 10px;
  margin: 25px 0px;
  border-radius: 38px;
  width: 175px;
  border-color: var(--main-color);
  border-width: 3px;
  font-weight: 800;
  transition: 0.3s;
  text-align: center;
}

.header .links .getstarted-btn:hover {
  background-color: var(--color-neon);
  color: black;
  border-color: transparent;
}

.header .links .icon {
  display: none;
}

.services-parent {
  position: relative;
}
.dropdown-services {
  padding: 10px 0;
  list-style: none;
  margin: 0;
  background-color: #eee;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  min-width: 300px;
  top: calc(100%);
  display: none;
  text-align: center;
  z-index: 1;
}
.services-parent:hover .dropdown-services {
  display: block;
}

.services-parent:hover .down {
  margin-top: 7px;
  transform: rotate(-135deg);
  border-color: var(--main-color);
}
.dropdown-services li a {
  text-decoration: none;
}
.dropdown-services li:not(:last-child) {
  border-bottom: 1px solid;
}
@media (max-width: 1200px) {
  .header .links .icon {
    display: block;
  }
  .removed-text {
    display: none;
  }
  .lang-item {
    order: 2;
  }
  .header-links {
    gap: 35px;
  }
  .main-links-parent {
    order: 3;
  }
  .main-links-parent {
    position: relative;
    margin-right: 10px;
  }
  .main-links {
    padding: 5px 0;
    list-style: none;
    margin-top: 0px;
    background-color: white;
    position: absolute;
    right: 60px;
    transform: translateX(50%);
    min-width: 200px;
    top: calc(100%);
    display: none;
    text-align: center;
    z-index: 2;
  }
  .main-links li:not(:last-child) {
    border-bottom: 1px solid;
  }
  .main-links-parent:hover .main-links {
    display: block;
  }
  .main-links-parent:hover .icon {
    color: var(--main-color);
  }

  .services-parent:hover .dropdown-services {
    right: 175%;
    top: 0;
    background-color: var(--color-white);
  }
}
@media (max-width: 767px) {
  .getstarted-btn {
    display: none;
  }
}
@media (max-width: 450px) {
  .services-parent:hover .dropdown-services {
    min-width: 200px;
    font-size: 14px;
    right: 50%;
    top: 100%;
  }
}

/*--Start landing--*/

.landing {
  background-image: url(../images/landing.avif);
  background-size: cover;
  height: calc(100vh - 168px);
  position: relative;
  /* position: relative; */
}
.landing .landing-container {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
}
.landing .landing-container :not(.getexpressvpn-btn) {
  padding: 0;
  margin: 0;
}
.landing .landing-container h1 {
  font-size: 90px;
  width: 100%;
  line-height: 1.1;
  font-weight: 800;
  letter-spacing: 4.5px;
  color: var(--color-midnight);
  text-align: center;
}

.landing .landing-container .sub-title-big {
  font-size: 27px;
  width: 100%;
  line-height: 1.1;
  /* overflow-wrap: break-word; */
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--color-midnight);
}

.getexpressvpn-btn {
  color: var(--color-white);
  background-color: var(--main-color);
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  border-radius: 45px;
  border-color: transparent;
  border-width: 3px;
  font-weight: 800;
  transition: 0.3s;
  text-align: center;
}
.landing .landing-container .getexpressvpn-btn {
  font-size: 22px;
  width: 300px;
}
.getexpressvpn-btn:hover {
  color: var(--color-midnight);
  background-color: var(--color-neon);
}
.sub-title-small {
  font-size: 14px;
  color: var(--color-grey-10);
}

@media (max-width: 767px) {
  .landing .landing-container h1 {
    font-size: 70px;
  }
  .landing .landing-container .sub-title-big {
    font-size: 22px;
  }
  .landing .landing-container .getexpressvpn-btn {
    width: 100%;
  }
  .header .container {
    justify-content: space-around;
  }
}
@media (max-width: 1024px) {
  .landing .landing-container {
    top: 35%;
  }
}

@media (max-width: 336px) {
  .landing .landing-container h1 {
    font-size: 50px;
  }
  .lang-item {
    display: none;
  }
}
@media (max-width: 226px) {
  .landing .landing-container h1 {
    font-size: 35px;
  }
  .landing .landing-container .sub-title-big {
    font-size: 15px;
  }
}
/*--End landing--*/

/*--Start Features--*/
.features {
  padding-top: calc(var(--section-padding) + 40px);
  padding-bottom: var(--section-padding);
}
.features .container h2 {
  font-size: 46px;
  font-weight: 800;
  line-height: 1.1;
  width: 100%;
  text-align: center;
}
.features .features-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.features .container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.features .container .row .info-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  max-width: 430px;
}
.features .container .row .info-flex h3 {
  font-size: 40px;
  letter-spacing: 2;
}
.features .container .row .info-flex p {
  font-size: 20px;
  letter-spacing: 2;
  line-height: 1.8;
}
.features .container .row .left-image img {
  width: 370px;
  height: 370px;
}
.features .container .row .image-2 {
  order: 1;
}
.features .container .row .info-flex .getexpressvpn-btn {
  font-size: 15px;
  width: 200px;
}
@media (max-width: 500px) {
  .features .container .row .info-flex .getexpressvpn-btn {
    width: 100%;
  }
  .features .container .row .info-flex {
    text-align: center;
    align-items: center;
  }
}
.info-container-3 .icons-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.info-container-3 .icons-container > div {
  min-width: 30px;
  max-width: 30px;
  background-color: #eee;
  text-align: center;
  padding: 5px;
}

/*--End Features--*/
/* Start Services */
.services {
  padding-top: calc(var(--section-padding) + 40px);
  padding-bottom: var(--section-padding);
  background-color: var(--color-sand-30);
}
.services .container .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  text-align: center;
}
.services-content .srv h2 {
  width: 100%;
}
.services .container .services-content .srv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.services-content h3,
.services-content p,
.services-content img {
  width: 285px;
}
.services-content h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.8;
}
.services-content .srv-header {
  grid-column: 1 / -1;
  margin-bottom: 20px;
}
.services-content .srv-header h2 {
  font-size: 46px;
  font-weight: 800;
  line-height: 1.1;
  width: 100%;
  text-align: center;
}
.services-content p {
  font-size: 16px;
  line-height: 1.8;
}

/* End Services */
