body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 80px;
}

.left-section,
.right-section {
  flex-basis: 45%;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  z-index: 5;
}

button:hover {
  background-color: #a1eca1;
}
#saveBtn {
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#todoTable td,
#completedTable td {
  max-width: 250px;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  #todoTable td,
  #completedTable td {
    max-width: 100px;
  }
  .actions {
    flex-direction: column;
  }
}

th {
  background-color: #4caf50;
  color: white;
}

.actions {
  display: flex;
  justify-content: space-around;
  column-gap: 15px;
  align-items: center;
}
